<!doctype html>
<html>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/loading-bar.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/loading-bar.js') }}"></script>
<div
  class="ldBar label-center"
  data-preset="bubble"
  data-pattern-size="64"
  data-fill="https://loading.io/mod/pattern/firefly/index.svg"
  style="width:200px;height:200px"
  data-value="12"
  style="width:50%;height:80%;"
  data-fill-background="#9df"
  data-min="2" data-max="15"
></div>
<div
  class="ldBar label-center"
  data-preset="bubble"
  data-pattern-size="64"
  data-fill="https://loading.io/mod/pattern/gooey/index.svg"
  style="width:200px;height:200px"
  data-value="5"
  data-fill-background="#9df"
  data-min="2" data-max="15"
></div>
<div
  class="ldBar label-center"
  data-preset="bubble"
  data-pattern-size="64"
  data-fill="https://loading.io/mod/pattern/maze/index.svg"
  style="width:200px;height:200px"
  data-value="3"
  data-fill-background="#9df"
  data-min="2" data-max="15"
></div>
<style type="text/css">
  .ldBar-label {
    color: whitesmoke;
    font-family: tahoma;
    font-size: 2.1em;
    font-weight: 900
  }
</style>

</body>
</html>
